@page
@model Assignment3.Pages.RestaurantModel

@{
    ViewData["Title"] = "Restaurant";
}

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
            <h1 class="text-secondary pl-3">Resturant page</h1>
			<hr />
		</div>
        <div class="mb-3">
            <label asp-for="checkInd.RoomNumber"></label>
            <input asp-for="checkInd.RoomNumber" class="form-control" />

            <label asp-for="checkInd.NumberOfAdults"></label>
            <input asp-for="checkInd.NumberOfAdults" class="form-control" />

            <label asp-for="checkInd.NumberOfChildren"></label>
            <input asp-for="checkInd.NumberOfChildren" class="form-control" />
            
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
	
	</div>
</form>

